# Dependencies
node_modules/

# Build outputs
.next/
out/
build/
dist/
cdk.out/
.cdk.staging/

# Environment
.env
.env.*

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*

# AWS 
.aws/
